{
    "TG_BOT_TOKEN": "YOUR TG BOT TOKEN",
    "TG_CHAT_ID": "YOUR TG CHAT ID",
    "IP_MONITOR_INTERVAL": 60,
    "GB_INSTANCES_DIR": "/home/adminpc/gunbot/instances",
    "GB_INSTANCES_TO_MONITOR": ["spot", "futures", "chiu", "chiufutures"],
    "GB_MONITOR_INTERVAL": 60,
    "GB_IDLE_THRESHOLD": 90,
    "SYSTEM_RESOURCES_CHECK_INTERVAL": 1,
    "SYSTEM_RESOURCES_CHECK_DATA_PTS": 10,
    "MEMORY_THRESHOLD": 0.8,
    "CPU_THRESHOLD": 0.8,
    "ERR_NOTIFICATION_THRESHOLD": 30,
    "ERR_NOTIFICATION_TTL": 300,
    "NETWORK_MONITOR_INTERVAL": 60,
    "LATENCY_CHECK_HOSTNAME": "api.binance.com",
    "LATENCY_THRESHOLD": 600,
    "DISK_MONITOR_INTERVAL": 3600,
    "DISK_THRESHOLD": 0.9
}
